#root {
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
}

#gameGrid {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: 0 auto;
}

#gameGrid td {
  border: 1px solid black;
}

.snakeBody {
  background-color: orange;
}

.snakeHead {
  background-color: green;
}

.food {
  background-color: red;
}

.gameOver {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 60px);
  color: blueviolet;
  font-size: 30px;
  background: cyan;
  padding: 5px;
}

.menu__item_selected {
  background-color: white;
  color: black;
}

.menu__item {
  border: 1px solid white;
  padding: 4px 16px;
  width: 100px;
  text-align: center;
}

.menu__item:hover {
  cursor: pointer;
  border: 1px solid white;
  outline: 1px solid white;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 50%;
  width: 50%;
}
